/**
 * @file
 * Styles sheet for the Drupal wall module.
 */

/* @group drupal_wall class */

.drupal_wall_post_status {
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #858585 1px 1px ,px;
  -moz-box-shadow: #858585 1px 1px 4px;
  box-shadow: #858585 1px 1px 4px;
  margin: 10px 0 20px;
  padding: 10px;
}

.drupal_wall_outer {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
 
  /*
  float: left;
  padding: 0px 0 0 10px;
  width: 98%;
  */
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #858585 1px 1px 4px;
  -moz-box-shadow: #858585 1px 1px 4px;
  box-shadow: #858585 1px 1px 4px;
}

.drupal_wall {
  color: #000;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 1.38;
  font-weight: normal;
  height: auto;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid lightgray;
  width: 100%;
  position: relative;
}

.drupal_wall a {
  text-decoration: none;
}

.drupal_wall img {
  background: white;
  display: inline-block;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #858585 1px 1px 4px;
  -moz-box-shadow: #858585 1px 1px 4px;
  box-shadow: #858585 1px 1px 4px;
  max-width: 100%;
}

.drupal_wall .edit_delete {
  float: right;
  /* text-align: right;
  width: 100%;
  position: absolute; */
}

.drupal_wall .edit_delete img {
  padding: 0;
  border-radius: none;
  box-shadow: none;
}

.drupal_wall .wallContent_left {
  float: left;
  margin-right: 10px;
}

.drupal_wall .wallContent_right {
  padding: 0px 5px 5px 5px;
  margin: 0px;
  font-size: 13px;
  line-height: 1.38;
}

.drupal_wall .headline {
  color: gray;
}

.drupal_wall .photo_status {
  margin-bottom: 10px;
}

.drupal_wall .video_status {
  background: white;
  padding: 4px 4px 2px 4px;
  -webkit-box-shadow: #858585 1px 1px 4px;
  -moz-box-shadow: #858585 1px 1px 4px;
  box-shadow: #858585 1px 1px 4px;
  margin-bottom: 12px;
}

.drupal_wall .caption {
  width: 100%;
  float: none;
  color: gray;
  margin-top: 1px;
  font-size: 11px;
}

.drupal_wall .userContent {
  padding: 5px 0 5px 0;
  width: 100%;
  font-size: 13px;
  line-height: 15pt;
  font-weight: normal;
}

.drupal_wall .likes {
  float: left;
  background: #edeff4 url('../images/likes-icon.png') scroll 10px 5px no-repeat;
  padding: 5px 5px 5px 33px;
  font-size: 11px;
}

.commune-links {
  background-color: #edeff4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  margin-bottom: 2px;
  padding: 0px 7px;
}

.drupal_wall .like_comment {
  width: 70px;
  background: url('../images/likes-icon.png') scroll 7px 0px no-repeat;
  padding: 0px 0 0 25px;
  color: #3b5998;
}

.drupal_wall .commentView {
  background: #edeff4 url('../images/comment-icon.png') scroll 10px 7px no-repeat;
  padding: 5px 5px 5px 33px;
  font-size: 11px;
}

.drupal_wall .comment {
  background: #edeff4;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2px;
  padding: 7px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.drupal_wall .comment_left {
  float: left;
  width: 45px;
}

.drupal_wall .comment_right {
  float: left;
  padding-left: 10px;
  width: 83%;
}

.drupal_wall .comment_delete {
  text-align: right;
  width: 100%;
  right: 10px;
  position: absolute;
}

.drupal_wall .delete_btn {
  background: none;
  padding: 0;
  margin: 0 10px 0 0;
  border: none;
}

.drupal_wall .comment textarea {
  resize: none;
  min-width: 250px;
  max-width: 100%;
  width: 100%;
  min-height: 40px;
  max-height: 40px;
  overflow-y: auto;
  overflow: -moz-auto-vertical;
}

.drupal_wall_post_status .post_btn {
  background-color: transparent;
  background-image: url(../images/blue-button.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  margin: 3px 10px 3px 0;
  outline: 1px solid #9babb0;
  padding: 4px 16px;
  -webkit-background-size: 100% 200%;
  -moz-background-size: 100% 200%;
  background-size: 100% 200%;
  border-radius: 4px;
}

.drupal_wall_post_status .post_btn:hover {
  background-image: url(../images/blue-button.png);
}

.drupal_wall_outer .status_msg {
  padding: 10px;
  color: gray;
}
.drupal-wall-global-post{
  font-size: 12px;
  font-weight: bold;
}

.drupal_wall .drupal-wall-edit {
  text-align: right;
  position: absolute;
  right:-9px;
}

.drupal_wall .drupal-wall-edit img {
  padding: 0;
  border-radius: none;
  box-shadow: none;
}


.drupal_wall .delete_btn{margin:0;}

.drupal_wall_post_status .droppable {
  padding: 5px;
  width: 98%;
}

.drupal_wall_post_status .droppable-message span {
  float: left;
}

.drupal_wall_post_status .droppable-standard-upload {
  float: right;
  min-height:initial;
}

.drupal_wall_post_status .droppable-message {
  line-height:  1.5;
}

.commune-action-button {
   float: left;
   padding: 5px;
}

.commune-action-post-button {
   float: right;
}

.commune-file-area, .commune-link-area {
   display: none;
}

.commune-action-button a:link,
.commune-action-button a:visited,
.commune-action-button a:hover {
   color: #6a6a6a;
   text-decoration: none;
}

.commune-action-button a {
   color: #777;
   padding-bottom: 7px;
   text-decoration: none;
}


.commune-action-button a.active {
   color: #dd4b39;
   border-bottom: 3px solid #dd4b39;
}
.commune-post-actions {
   border-bottom: 1px solid #ebebeb;
}

.commune-post-content {
   overflow: hidden;
   width: 100%;
   padding-top: 10px;
}
 

.video_status {
   overflow: hidden;
}

.commune-embed .left {
   float: left;
   margin: 0 10px 0px 0px;
   padding: 0px 10px 0 0;
   width: 25%;
}

.commune-comment .user-picture {
   float: none;
   margin: 0 1em 1em 0;
}
